
[SERVICE]
    Flush        1
    Daemon       Off
    Log_Level    info
    Parsers_File parsers.conf
    HTTP_Server On
    HTTP_Listen 0.0.0.0
    Health_Check On
    HTTP_Port 2020


[INPUT]
    Name     syslog
    Listen   0.0.0.0
    Parser   syslog-rfc5424
    Port     5171
    Mode     udp



[FILTER]
    Name record_modifier
    Match *
    Allowlist_key message

[FILTER]
    Name parser
    Match *
    Key_Name message
    Parser json



[OUTPUT]
    Name            es
    Match           *
    Host            {{ elastic_endpoint }}
    Port            9200
    tls             On
    tls.verify      Off  # Set to On if you want to verify the server's certificate
    tls.debug       4
    Logstash_Format On
    Logstash_Prefix {{ logstash_prefix }}
    Time_Key        @timestamp
    Time_Key_Format %Y-%m-%dT%H:%M:%S.%L
    Replace_Dots    On
    Trace_Output    On
    Trace_Error     On
    Retry_Limit     False
    HTTP_User       {{ elastic_user }}
    HTTP_Passwd     {{ elastic_password }}
    Suppress_Type_Name On


